@import '../../../../variables.scss';

.progress {
   &__block {
      &:not(:last-child) {
         margin-bottom: 4rem;
      }
   }

   &__level {
      display: inline-block;
      padding: 4rem;
      user-select: none;
      border: 1px solid $color-white;
      border-radius: 50%;
      font-size: 4rem;
   }

   &__text {
      white-space: pre-line;
      width: 1px;
      padding-left: 4rem;
   }
}
