<div class="progress">
   <div class="progress__block" *ngFor="let progress of levels">
      <p
         [class]="{
            progress__level: true,
            completed: progress.id < (progress$ | async),
            current: progress.id === (progress$ | async)
         }"
      >
         <mat-icon *ngIf="progress.id < (progress$ | async); else first"
            >done</mat-icon
         >
         <ng-template #first>{{ progress.id }}</ng-template>
      </p>
      <div class="progress__container">
         <p class="progress__text">
            {{ progress.text }}
         </p>
      </div>
   </div>
</div>
