@import '_variables.scss';

.progress {
   width: 10rem;
   &__block {
      &:not(:last-child) {
         margin-bottom: 4rem;
      }
      text-align: center;
   }

   &__level {
      padding: 3.7rem 3rem;
      user-select: none;
      border: 2px solid rgba($color-white, 0.2);
      border-radius: 50%;
      font-size: 3rem;
   }

   &__text {
      display: flex;
      flex-wrap: wrap;
   }
}

.completed {
   border: 2px solid $color-accent;
}

.current {
   border: 2px solid $color-primary;
}
