<div class="progress">
   <div class="progress__block">
      <p class="progress__level">1</p>
      <p class="progress__text">
         Выберите
         <br />
         направление
         <br />
         обмена
      </p>
   </div>
   <div class="progress__block">
      <p class="progress__level">2</p>
      <p class="progress__text">
         Платежная
         <br />
         информация
      </p>
   </div>
   <div class="progress__block">
      <p class="progress__level">3</p>
      <p class="progress__text">
         Подтверждение,
         <br />
         оплата
      </p>
   </div>
</div>
