.side-menu {
   max-width: 30rem;
   top: 0;
   position: sticky;
   height: 100vh;

   &__text {
      margin-left: 1rem;
   }

   &__button {
      width: 100%;
      text-align: left;
      font-size: 1.4rem;
   }
}
