<h2 class="title" *ngIf="exchange">
   Обмен {{ exchange.givenCurrency.name }} на {{ exchange.takenCurrency.name }}
</h2>

<form *ngIf="form" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
   <div class="row">
      <mat-form-field
         class="form__group min-max"
         [attr.min]="[exchange.minGivenCurrency]"
         [attr.max]="[exchange.maxGivenCurrency]"
      >
         <mat-label>Отдаете в {{ givenCurrencyName }}</mat-label>
         <input
            matInput
            required
            (input)="onGivenCurrencyChange($event.target.value)"
            formControlName="givenCurrencyAmount"
         />
      </mat-form-field>

      <mat-form-field
         class="form__group reserve"
         [attr.reserve]="[exchange.takenCurrency.reserve]"
      >
         <mat-label>Получаете в {{ takenCurrencyName }}</mat-label>
         <input
            matInput
            required
            (input)="onTakenCurrencyChange($event.target.value)"
            formControlName="takenCurrencyAmount"
         />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field class="form__group">
         <mat-label>Номер кошелька</mat-label>
         <input matInput required formControlName="givenCurrencyCard" />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field class="form__group">
         <mat-label>Номер кошелька</mat-label>
         <input matInput required formControlName="takenCurrencyCard" />
      </mat-form-field>
   </div>

   <div class="row" *ngIf="showNameAndSurname">
      <mat-form-field class="form__group">
         <mat-label>Имя</mat-label>
         <input matInput required formControlName="name" />
      </mat-form-field>
      <mat-form-field class="form__group">
         <mat-label>Фамилия</mat-label>
         <input matInput required formControlName="surname" />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field class="form__group">
         <mat-label>Номер телефона</mat-label>
         <span matPrefix>+ &nbsp;</span>
         <input type="tel" matInput formControlName="phone" required />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field class="form__group">
         <mat-label>Email</mat-label>
         <input matInput required formControlName="email" />
      </mat-form-field>
   </div>

   <div class="row">
      <div class="buttons">
         <button mat-raised-button color="accent" class="submit">
            Следующий шаг
         </button>
         <a routerLink="/" class="link--back">Изменить направление</a>
      </div>
      <div class="terms-of-use">
         <p class="text">
            Нажимая кнопку «Следующий шаг» вы подтверждаете свое согласие с
         </p>

         <a target="_blank" routerLink="/terms-of-use" class="link"
            >Правилами предоставления услуг сервиса EXWM</a
         >
      </div>
   </div>
</form>
