<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
   <div class="row">
      <mat-form-field>
         <mat-label>Отдаете в </mat-label>
         <input matInput />
      </mat-form-field>

      <mat-form-field>
         <mat-label>Отдаете в </mat-label>
         <input matInput />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field>
         <mat-label>Номер кошелька</mat-label>
         <input matInput />
      </mat-form-field>

      <mat-form-field>
         <mat-label>Номер кошелька</mat-label>
         <input matInput />
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field>
         <mat-label>Номер телефона</mat-label>
         <input matInput />
      </mat-form-field>

      <mat-form-field>
         <mat-label>Email</mat-label>
         <input matInput />
      </mat-form-field>
   </div>
</form>
