@import '../../../../variables.scss';

.table {
   display: flex;
   justify-content: space-between;
}

.table__column-title {
   font-size: 3rem;
}

.currency {
   display: flex;
   align-items: center;
   width: 30rem;
   position: relative;
   border-bottom: 1px solid rgba($color-white, $alpha: 0.2);
   padding-bottom: 2rem;
   position: relative;

   &__name {
      margin-left: 1rem;
   }

   &:not(:last-child) {
      margin-bottom: 4rem;
   }

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: bottom center;
      z-index: -1;
      transition: transform 0.3s;
      background: linear-gradient(
         to bottom,
         transparent 40%,
         rgba($color-accent, 0.3) 100%
      );
   }

   &:hover:not(.selected)::after {
      transform: scaleY(1);
   }

   &__info {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-content: space-between;
   }

   &__value {
      font-size: 1rem;
   }

   cursor: pointer;
}

.selected {
   background: linear-gradient(
      to bottom,
      transparent 40%,
      rgba($color-accent, 0.3) 100%
   );
}

.image-container {
   width: 4rem;
   height: 4rem;
}

.img {
   height: 100%;
   width: 100%;
   background-size: cover;
}

.no-margin {
   margin: 0;
}
