<div class="table">
   <div class="left">
      <h2 class="table__column-title">Отдаете</h2>

      <div
         class="currency"
         *ngFor="let exchange of givenCurrencies"
         (click)="selectCurrentExchange(exchange)"
         [class.selected]="exchange.id === currentExchange.id"
      >
         <div class="image-container">
            <img
               src="{{ exchange.givenCurrency.icon }}"
               alt="icon"
               class="img"
            />
         </div>
         <p class="currency__name">{{ exchange.givenCurrency.name }}</p>
      </div>
   </div>
   <div class="right">
      <h2 class="table__column-title">Получаете</h2>

      <ng-container *ngIf="currentExchange">
         <div class="currency" *ngFor="let exchange of takenCurrencies">
            <div class="image-container">
               <img
                  src="{{ exchange.takenCurrency.icon }}"
                  alt="icon"
                  class="img"
               />
            </div>
            <div class="currency__info">
               <p class="currency__name no-margin">
                  {{ exchange.takenCurrency.name }}
               </p>
               <p class="currency__value no-margin">
                  <span class="course">
                     {{ exchange.givenCurrencyCourse }}
                     :
                     {{ exchange.takenCurrencyCourse }}
                  </span>
                  | Резерв {{ exchange.takenCurrency.reserve }}
               </p>
            </div>
         </div>
      </ng-container>
   </div>
</div>
