<div class="table">
   <div class="left">
      <h2 class="table__column-title">Отдаете</h2>

      <div class="currency" *ngFor="let exchange of exchanges$ | async">
         <div class="image-container">
            <img
               src="{{ exchange.givenCurrency.icon }}"
               alt="icon"
               class="img"
            />
         </div>
         <p class="currency__name">{{ exchange.givenCurrency.name }}</p>
      </div>
   </div>
   <div class="right">
      <h2 class="table__column-title">Получаете</h2>

      <div class="currency" *ngFor="let exchange of exchanges$ | async">
         <div class="image-container">
            <img
               src="{{ exchange.takenCurrency.icon }}"
               alt="icon"
               class="img"
            />
         </div>
         <p class="currency__name">{{ exchange.takenCurrency.name }}</p>
      </div>
   </div>
</div>
