@import '../../../../variables.scss';

.table {
   display: flex;
   justify-content: space-between;
}

.table__column-title {
   font-size: 3rem;
}

.currency {
   display: flex;
   align-items: center;

   &__name {
      margin-left: 1rem;
   }

   &:not(:last-child) {
      margin-bottom: 1rem;
   }

   cursor: pointer;
   transition: 0.5s;

   &:hover {
      background: rgba($color-white, 0.1);
   }
}

.image-container {
   width: 5rem;
   height: 4rem;
}

.img {
   width: 100%;
   height: 100%;
   background-size: cover;
}
