<form
   ngNoForm
   accept-charset="utf-8"
   id="pay"
   name="pay"
   method="POST"
   action="https://merchant.webmoney.ru/lmi/payment.asp"
   accept-charset="windows-1251"
>
   <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="12.08" />
   <input type="hidden" name="LMI_PAYMENT_DESC" value="платеж по счету" />
   <input type="hidden" name="LMI_PAYMENT_NO" value="1" />
   <input type="hidden" name="LMI_PAYEE_PURSE" value="Z534212467591" />
   <input type="hidden" name="LMI_SIM_MODE" value="0" />
   <input type="submit" value="submit" />
</form>
