:host {
   display: flex;
   flex-wrap: wrap;
}

.content {
   flex-grow: 1;
   padding: 0 10rem;
}

// .progress {
//    @media only screen and (max-width: $bp-medium) {
//       display: flex;
//    }
// }