<section class="about">
   <h2 class="about__title">О сервисе</h2>

   <p class="about__paragraph">
      С развитием информационных технологий коммерческие структуры получили
      щедрый подарок – многомиллионную интернет-аудиторию, которая с радостью
      предпочла онлайн-покупки в комфортной обстановке собственного дома
      многочасовым хождениям по магазинам и утомительным очередям. Но, помимо
      плюсов, системы электронной торговли имели один существенный недостаток –
      оплата товаров наличными деньгами или кредитными картами оказалась весьма
      проблематичной для большинства покупателей.
   </p>
   <p class="about__paragraph">
      Выходом из сложившейся ситуации стали электронные платежные системы,
      которые значительно упростили взаиморасчеты между продавцами и
      покупателями. Теперь для того чтобы расплатиться за покупки больше не
      нужно ехать в офис интернет-магазина или переводить деньги со своего
      банковского счета. Достаточно приобрести определенное количество титульных
      знаков определенной платежной системы и с их помощью оплатить товары или
      услуги в режиме онлайн. Но, к сожалению, разные интернет-магазины
      принимают к оплате электронные деньги разных платежных систем. А потому
      возникла острая необходимость в создании сервисов, которые оперативно
      помогали бы пользователям решать проблемы с тем или иным видом электронной
      валюты.
   </p>
   <p class="about__paragraph">
      Основная функция NetExchange – это обмен, ввод и вывод электронных валют
      различных платежных систем России и СНГ. Миссия NetExchange – облегчить
      пользователям проведение любых операций с электронными деньгами платежных
      систем WebMoney, Yandex.Деньги, QIWI и др., помочь интернет-ресурсам
      создать эффективные инструменты для взаиморасчетов с клиентами,
      предоставить представителям традиционного бизнеса возможность оплаты их
      товаров и услуг с помощью электронных денег.
   </p>
</section>
