<h2 class="title">Правила предоставления услуг</h2>
<h3 class="sub-title">Соглашение о предоставлении услуг сервисом EXWM</h3>

<ol class="rules">
   <li class="rules__item">
      <h3 class="rules__title">Общие положения</h3>
      <p class="rules__info">
         Настоящее соглашение (далее по тексту Соглашение) описывает правила и
         условия, на основании которых предоставляются услуги мультивалютного
         обменного сервиса NetExchange и в соответствии со статьей 437
         Гражданского Кодекса РФ является официальной письменной публичной
         офертой, адресованной физическим и юридическим лицам (далее по тексту
         Пользователь), заключить Соглашение о предоставлении услуг сервисом
         NetExchange на изложенных ниже условиях.
      </p>
      <p class="rules__info">
         Перед тем как воспользоваться услугами сервиса NetExchange,
         Пользователь обязан ознакомиться в полном объеме с условиями
         «Соглашения о предоставлении услуг сервисом NetExchange».
      </p>
      <p class="rules__info">
         Использование услуг сервиса NetExchange возможно только, если
         Пользователь принимает все условия Соглашения.
      </p>
      <p class="rules__info">
         Действующая версия Соглашения расположена для публичного доступа на
         интернет-сайте сервиса NetExchange (www.netexchange.ru).
      </p>
   </li>
   <li class="rules__item">
      <h3 class="rules__title">
         Термины и определения, используемые в Соглашении
      </h3>
      <p class="rules__info">
         Сервис NetExchange — торговая марка и коммерческое обозначение системы
         предоставления интернет услуг по обмену, продаже и покупке электронных
         валют. Интернет-сайт Сервиса – www.netexchange.ru.
      </p>

      <p class="rules__info">
         Пользователь — любое физическое или юридическое лицо, которое желает
         воспользоваться услугами сервиса NetExchange и осуществившее акцепт
         Соглашения в соответствии с его условиями. Платежная система —
         программный продукт, созданный третьей стороной, представляющий собой
         механизм реализации учета денежных и/или иных обязательств, оплату
         товаров и услуг в сети Интернет, а также организацию взаиморасчетов
         между своими пользователями.
      </p>

      <p class="rules__info">
         Электронная валюта – денежное и/или иное обязательство между
         разработчиком данной валюты и ее пользователем, выраженное цифровым
         способом.
      </p>

      <p class="rules__info">
         Платеж/операция— перевод электронной и/или иной валюты от плательщика к
         получателю. Клиент платежной системы – лицо, заключившее соглашение с
         соответствующей платежной системой на приобретение имущественных прав
         требования к ней, измеряемых в условных единицах, принятых в
         соответствующей платежной системе.
      </p>

      <p class="rules__info">
         Заявка – выражение намерения Пользователя воспользоваться одной из
         услуг предлагаемых Сервисом NetExchange, путем заполнения электронной
         формы через Интернет-сайт Сервиса, на условиях, описанных в Соглашении
         и указанных в параметрах этой Заявки.
      </p>

      <p class="rules__info">
         Исходная валюта – электронная валюта, которую Пользователь желает
         продать или обменять. Исходный счет – номер кошелька или любое другое
         обозначения счета Пользователя в Платежной системе, с которого была
         отправлена Исходная валюта.
      </p>

      <p class="rules__info">
         Результирующая валюта – электронная валюта, которую Пользовать получает
         в результате продажи или обмена Исходной валюты.
      </p>

      <p class="rules__info">
         Результирующий счет– номер кошелька или любое другое обозначения счета
         Пользователя в Платежной системе, на который будет отправлена
         Результирующая валюта.
      </p>

      <p class="rules__info">
         Резерв валюты - имеющийся в распоряжении Сервиса NetExchange, на момент
         создания Заявки, объем определенной Электронной валюты.
      </p>

      <p class="rules__info">
         Обмен валюты - обмен электронной валюте одной платежной системы на
         электронную валюту другой платежной системы.
      </p>

      <p class="rules__info">
         Курс— стоимостное соотношение двух электронных валют при их обмене.
         «Моментальный» — способ обмена Электронной валюты, при котором Сервис
         NetExchange обязуется незамедлительно после получения от Пользователя
         суммы Исходной валюты перечислить (передать) Пользователю сумму
         Результирующей валюты.
      </p>

      <p class="rules__info">
         Хакер — квалифицированный компьютерный взломщик, злоумышленник,
         специализирующийся на поиске и использовании несанкционированного
         доступа в вычислительные сети или другое компьютеризированное
         оборудование для незаконного получения информации, извлечения выгоды,
         нанесения ущерба.
      </p>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Предмет Соглашения</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Предметом настоящего Соглашения является предоставление Пользователю
            Сервисом NetExchange следующих услуг:
         </li>
         <li class="rules__info">
            обмен электронной валюты (раздел 6 Соглашения);
         </li>
         <li class="rules__info">
            продажа Пользователю электронной валюты (раздел 7 Соглашения);
         </li>
         <li class="rules__info">
            покупка у Пользователя электронной валюты (раздел 8 Соглашения).
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Порядок оказания услуг Сервисом</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Заказ услуг Сервиса NetExchange осуществляется Пользователем путем
            направления Заявки через Интернет-сайт Сервиса.
         </li>
         <li class="rules__info">
            Управление процессом сделки или получение информации о ходе
            выполнения сделки Пользователем производятся при помощи
            соответствующего пользовательского интерфейса, расположенного на
            Интернет-сайте Сервиса.
         </li>
         <li class="rules__info">
            Сервис NetExchange осуществляет исполнение Заявок на безотзывной
            основе в соответствии с условиями работы соответствующих платежных
            систем.
         </li>
         <li class="rules__info">
            Сервис NetExchange не является стороной соглашения между Платежной
            системой и Клиентом платежной системы и ни в коем случае не несет
            ответственности за действия Платежной системы и ее Клиента. Права и
            обязанности платежной системы и ее Клиента регулируются условиями
            предоставления услуг соответствующих Платежных систем.
         </li>
         <li class="rules__info">
            Сервис NetExchange не требует удостоверения в том, что отправитель и
            получатель средств, участвующих в Операции, является одним и тем же
            юридическим или физическим лицом, Сервис NetExchange не является
            стороной во взаимоотношениях отправителя и получателя денежных
            средств или электронной валюты.
         </li>
         <li class="rules__info">
            Сервис NetExchange не проверяет правомочность и законность владения
            Пользователем электронными валютами и/или денежными средствами,
            участвующими в конкретной Операции.
         </li>
         <li class="rules__info">
            Воспользовавшись услугами Сервиса NetExchange, Пользователь
            подтверждает, что законно владеет и распоряжается денежными
            средствами и электронной валютой, участвующими в соответствующем
            Платеже.
         </li>
         <li class="rules__info">
            Пользователь обязуется самостоятельно исчислять и уплачивать все
            налоги, требуемые согласно налоговому законодательству места
            нахождения Пользователя.
         </li>
         <li class="rules__info">
            Заботясь о качестве оказываемых Пользователям услуг, Сервис
            Netexchange обязуется совершать все действия, в рамках настоящего
            Соглашения, макисмально оперативно.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Стоимость услуг</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Стоимость услуг Сервиса устанавливается руководством Сервиса и
            публикуется на интернет-сайте Сервиса.
         </li>
         <li class="rules__info">
            Сервис вправе самостоятельно изменять курсы обмена электронных валют
            и взимаемых комиссионных в любое время в одностороннем порядке, о
            чем уведомляет Пользователей сервиса предварительным размещением
            информации об этих изменениях на интернет-сайте Сервиса.
         </li>
         <li class="rules__info">
            В Заявке создаваемой Пользователем на интернет сайте сервиса
            указывается Курс, размер комиссии, взимаемый соответствующей
            Платежной системой, за проведение Операции, размер вознаграждения
            Сервиса NetExchange, способ Обмена, а также общая сумма
            перечисляемых денежных средств или электронной валюты.
         </li>
         <li class="rules__info">
            Сервис NetExchange взимает стоимость своего вознаграждения в момент
            проведения соответствующей Операции.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Обмен электронной валюты</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Путем оформления Заявки Пользователь поручает, а Сервис NetExchange
            от своего имени и за счет Пользователя, совершает действия по обмену
            Электронной валюты одной Платежной системы (Исходная валюта) на
            Электронную валюту другой Платежной системы (Результирующая валюта)
            выбранной Пользователем.
         </li>
         <li class="rules__info">
            Пользователь обязуется перечислить (передать) Исходную валюту, в
            размере указанном в Заявке, а Сервис NetExchange, после получения
            соответствующей Электронной валюты, обязуется перечислить (передать)
            Пользователю Результирующую валюту, рассчитанную по Курсу и в
            соответствие с тарифами сервиса.
         </li>
         <li class="rules__info">
            После оформления заявки Пользователь имеет возможность изменить
            способ Обмена с Экономичного на Моментальный, оплатив стоимость
            данной услуги в соответствие с тарифами сервиса.
         </li>
         <li class="rules__info">
            Размер вознаграждения Сервиса NetExchange за действия, указанные в
            пункте 6.1.,6.3. и 6.5. Соглашения, отражается в Заявке и
            подтверждается Пользователем нажатием кнопки «Далее» на одной из
            страниц пользовательского интерфейса при оформление заявки.
         </li>
         <li class="rules__info">
            Обязанность Сервиса NetExchange по перечислению (передаче)
            Электронной валюты Пользователю считается исполненной в момент
            списания Электронной валюты в соответствующей Платежной системе со
            счета Сервиса NetExchange, что регистрируется в истории операций
            соответствующей Платежной системы.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Покупка Пользователем электронной валюты</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Путем оформления Заявки Пользователь поручает, а Сервис NetExchange
            от своего имени и за счет Пользователя, совершает действия по
            приобретению и передаче Электронной валюты Пользователю.
         </li>
         <li class="rules__info">
            Размер вознаграждения Сервиса NetExchange за действия, указанные в
            пункте 7.1. Соглашения, отражается в Заявке и подтверждается
            Пользователем нажатием кнопки «Далее» на одной из страниц
            пользовательского интерфейса.
         </li>
         <li class="rules__info">
            В течение 12 часов с момента получения денежных средств от
            Пользователя, в размере указанном в соответствующей Заявке, Сервис
            NetExchange обязан перечислить(передать) Результирующую валюту на
            реквизиты и в размере указанными Пользователем в Заявке.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе отменить созданную Пользователем заявку на
            покупку Электронной валюты за наличные рубли, если оплата по такой
            заявке не поступила в расчетную кассу сервиса по истечения суток с
            момента создания такой заявки.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе отменить созданную Пользователем заявку на
            покупку Электронной валюты за безналичные рубли, если оплата по
            такой заявке не поступила на расчетный счет сервиса по истечению 60
            часов с момента создания такой заявки.
         </li>
         <li class="rules__info">
            <p class="rules__sub-info">
               В целях противодействия мошенническим операциям, при расчетах в
               сети Интернет, банковскими картами международных платежных систем
               Visa и MasterCard Сервис NetExchange вправе лимитировать операции
               покупки электронных валют при помощи банковских карт и
               устанавливает следующие ограничения:
            </p>
            <p class="rules__sub-info">
               - максимальная сумма покупки электронных валют в сутки, по одной
               банковской карте, составляет 20000 (двадцать тысяч) рублей;
            </p>
            <p class="rules__sub-info">
               - максимальная сумма покупки электронных валют в месяц, по одной
               банковской карте, составляет 100000 (сто тысяч) рублей;
            </p>
         </li>
         <li class="rules__info">
            Обязанность Сервиса NetExchange по перечислению (передаче)
            Результирующей валюты Пользователю считается исполненной в момент
            списания Электронной валюты в соответствующей Платежной системе со
            счета Сервиса NetExchange, что регистрируется в истории операций
            соответствующей Платежной системы.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Продажа Пользователем электронной валюты</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Путем оформления Заявки Пользователь поручает, а Сервис NetExchange
            от своего имени и за счет Пользователя, покупает электронную валюту
            у Пользователя, а также совершает действия по передаче денежного
            эквивалента Пользователю в сумме, указанной в Заявке.
         </li>
         <li class="rules__info">
            В течение 3 (трех) рабочих дней с момента получения Исходной валюты
            от Пользователя, в размере указанном в соответствующей Заявке,
            Сервис NetExchange обязан передать Пользователю рублевый денежный
            эквивалент перечисленной Электронной валюты, способом выбранным
            Пользователем при подаче Заявки.
         </li>
         <li class="rules__info">
            Размер вознаграждения Сервиса NetExchange за действия, указанные в
            пункте 8.1. Соглашения, отражается в Заявке и подтверждается
            Пользователем нажатием кнопки «Далее» на одной из страниц
            пользовательского интерфейса.
         </li>
         <li class="rules__info">
            Обязанность Сервиса NetExchange по перечислению денежного рублевого
            эквивалента переданной Электронной валюты считается исполненной в
            момент списания соответствующей суммы с расчетного счета Сервиса
            NetExchange.
         </li>
         <li class="rules__info">
            В случае неполучения Пользователем рублевого денежного эквивалента,
            по вине Пользователя в течение двух суток с момента оплаты заявки,
            Сервис Netexchange вправе возвратить Пользователю Электронную валюту
            на Исходный счет за вычетом комиссии Платежной системы, если такая
            присутствует.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">Вступление Соглашения в силу</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Настоящее Соглашение считается заключенным на условиях публичной
            оферты, акцептуемой Пользователем в ходе подачи им Заявки.
         </li>
         <li class="rules__info">
            Публичной офертой признается отображаемая Сервисом NetExchange
            информация о параметрах и условиях Заявки.
         </li>
         <li class="rules__info">
            Акцептом публичной оферты признается совершение Пользователем
            действий по завершению формирования Заявки, подтверждающих его
            намерение воспользоваться услугами Сервиса NetExchange на условиях,
            описанных в настоящем Соглашениях и указанных в Заявке.
         </li>
         <li class="rules__info">
            Дата и время акцепта, а также параметры условий Заявки фиксируются
            Сервисом NetExchange автоматически в момент завершения формирования
            заявки.
         </li>
         <li class="rules__info">
            Соглашение вступает в силу с момента завершения формирования Заявки
            Пользователем. Пользователь имеет право отказаться от совершения
            операции по Заявке. Период совершения акцепта Пользователем
            составляет 24 часа с момента завершения формирования Заявки.
         </li>
      </ol>
   </li>
   <li class="rules__item">
      <h3 class="rules__title">Ответственность Сторон</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Сервис NetExchange несет ответственность перед Пользователем в
            размере, не превышающем вверенной Пользователем суммы денежных
            средств или электронной валюты.
         </li>
         <li class="rules__info">
            Сервис NetExchange не отвечает за неисправности, ошибки и сбои в
            работе программных и/или аппаратных средств, обеспечивающих
            функционирование услуг Сервиса NetExchange, возникшие по причинам,
            не зависящим от Сервиса NetExchange, а также связанные с этим убытки
            Пользователя.
         </li>
         <li class="rules__info">
            Сервис Netexchange оказывает услуги только по обмену, покупке и
            продаже электронных валют. Netexchange ни коем образом не принимает
            оплату в пользу каких-либо третьих лиц, а также, запрещает обмен на
            кошельки/счета, которые не принадлежат пользователю. Netexchange не
            вступает ни в какие партнерские отношения, не заключает ни каких
            договоров с получателями платежей за свои товары или услуги, а
            категорически против таких отношений. Netexchange нельзя
            использовать как промежуточный сервис для взаиморасчетов между
            покупателем и продавцом (заказчиком и исполнителем и т.д.).
         </li>
         <li class="rules__info">
            Сервис NetExchange не отвечает за убытки Пользователя, возникшие в
            результате неправомерных действий третьих лиц.
         </li>
         <li class="rules__info">
            Пользователь несет всю ответственность за достоверность сведений,
            указанных им при заполнении Заявки. В случае если Пользователь не
            указал или неверно указал персональные данные, Сервис NetExchange не
            отвечает за убытки Пользователя, понесенные в результате допущенной
            ошибки.
         </li>
         <li class="rules__info">
            Стороны освобождаются от ответственности за полное или частичное
            неисполнение своих обязательств по Соглашению, если таковое явилось
            следствием обстоятельств непреодолимой силы, возникших после
            вступления в силу Соглашения, в результате событий чрезвычайного
            характера, которые не могли быть предвидены и предотвращены
            разумными мерами.
         </li>
         <li class="rules__info">
            В других случаях неисполнения или ненадлежащего исполнения своих
            обязательств по Соглашению Стороны несут ответственность в
            соответствии с законодательством Российской Федерации с учетом
            условий Соглашения.
         </li>
      </ol>
   </li>
   <li class="rules__item">
      <h3 class="rules__title">Прочие положения</h3>
      <ol class="rules__sub-rules">
         <li class="rules__info">
            Сервис NetExchange вправе в одностороннем порядке вносить изменения
            в Соглашения путем публикации изменений на Сайте Системы. Изменения
            вступают в силу с момента опубликования, если иной срок вступления
            изменений в силу не определен дополнительно при их публикации.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе в случае подозрительных действий в
            процессе оформления заявки пользователем, во избежание ущерба от
            Хакерских атак приостанавливать выполнения таких операций до
            выяснения причин этих действий.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе отказать в выполнение операции обмена,
            покупки и продажи электронных валют, если передача Исходной валюты
            на счет сервиса была произведена без оформления заявки при помощи
            пользовательских интерфейсов на сайте сервиса. Электронная валюта,
            перечисленная на соответствующие счета сервиса, без оформления
            заявки при помощи пользовательских интерфейсов на сайте сервиса
            может быть возвращена пользователю по запросу с учетом вычета
            комиссии Платежной системы, если таковая присутствует.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе отменить созданную Пользователем заявку,
            если в течение одного часа первый не получил Результирующую валюту в
            сумме указанной Пользователем в заявке, то есть Пользователь не
            оплатил Заявку.
         </li>
         <li class="rules__info">
            Сервис NetExchange вправе отправлять Пользователю на указанный
            e-mail информацию о состояние процесса обмена, т.к. это является
            неотъемлемой частью процесса успешного завершения обмена.
         </li>
         <li class="rules__info">
            Все споры и разногласия, возникшие или могущие возникнуть из
            настоящего Соглашения, подлежат разрешению путем переговоров на
            основании письменного заявления Пользователя. Сервис NetExchange
            после получения от Пользователя претензии обязан в течение 15
            (пятнадцати) дней удовлетворить заявленные в претензии требования
            либо направить Пользователю мотивированный отказ. К ответу должны
            быть приложены все необходимые документы. В случае если возникший
            спор не будет разрешен в претензионном порядке в течение 60
            (шестидесяти) дней, любая из Сторон вправе обратиться за разрешением
            спора в суд по месту нахождения Сервиса.11.7. Местом заключения и
            местом исполнения Соглашения является г. Москва, Российская
            Федерация.
         </li>
      </ol>
   </li>

   <li class="rules__item">
      <h3 class="rules__title">УВЕДОМЛЕНИЕ О РИСКАХ.</h3>
      <p class="rules__info">
         Предлагаемые товары и услуги предоставляются не по заказу лица либо
         предприятия, эксплуатирующего систему WebMoney Transfer. Мы являемся
         независимым предприятием, оказывающим услуги, и самостоятельно
         принимаем решения о ценах и предложениях. Предприятия, эксплуатирующие
         систему WebMoney Transfer, не получают комиссионных вознаграждений или
         иных вознаграждений за участие в предоставлении услуг и не несут
         никакой ответственности за нашу деятельность.Аттестация, произведенная
         со стороны WebMoney Transfer, лишь подтверждает наши реквизиты для
         связи и удостоверяет личность. Она осуществляется по нашему желанию и
         не означает, что мы каким-либо образом связаны с продажами операторов
         системы WebMoney.
      </p>
   </li>
</ol>
