.title {
   font-size: 3rem;
}

.sub-title {
   font-size: 1.5rem;
}
.rules__title {
   font-weight: 500;
}

.rules {
   padding: 0 1.6rem;
}

.rules__sub-rules {
   margin-left: 1rem;
}

.rules__info {
   color: rgba(#fff, 0.7);
}
