<h2>Что если время кончилось, а оплатить не успел?</h2>
<div class="text">
   <p>
      В соответствии с Правилами предоставления услуг, по истечении этого
      времени заявка будет отменена
   </p>
   <p>
      После нажатия на кнопку "Оплатить" Вы будете автоматически перенаправлены
      на страницу оплаты платежной системы, где, следуя простым указаниям,
      сможете совершить оплату.
   </p>
   <p>
      Успешно оплатили заявку - автоматически вернетесь назад. Обмен будет
      завершен
   </p>
</div>
