.admin-page-header {
   margin-bottom: 1.5rem;

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__title {
      font-size: 2.4rem;
   }

   &__button {
      align-self: flex-start;
   }
}
