@import '../../../../variables.scss';

.title {
   font-size: 3rem;
}

.table {
   width: 100%;
   background: transparent;
}

.row {
   cursor: pointer;
   position: relative;
   transition: 0.3s;

   &:hover {
      background: rgba($color-primary, 0.05);
   }
}

.inActive {
   opacity: 0.5;
   cursor: default;

   &:hover {
      background: transparent;
   }
}

.img-container {
   width: 4rem;
   height: 3rem;
   display: inline-block;
   margin-right: 5px;
}

.img {
   background-size: cover;
   width: 100%;
   height: 100%;
}

.vertical-center {
   display: flex;
   align-items: center;
}
