@import '../../../../variables.scss';

.section-orders {
   position: relative;
}

.actions {
   position: absolute;
   right: 0;
   top: -6.5rem;
   display: flex;
}

.orders {
   width: 100%;

   &__column {
      padding: 1rem 0;
   }

   &__amount {
      margin: 0 5px;
   }

   &__details,
   &__card {
      display: flex;
      align-items: center;
   }

   &__course {
      display: flex;
      align-items: center;
   }
}

.no-margin {
   margin: 0;
}

.icon {
   transform: scale(0.6);
}

.pending {
   background: rgba($color-teal, 0.1);
}

.canceled {
   background: rgba($color-warn, 0.1);
}

.paid {
   background: rgba($color-primary, 0.1);
}

.done {
   background: rgba($color-green, 0.1);
}

.freezed {
   background: rgba($color-grey, 0.1);
}

.pagination {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}
