@import '../../../../variables.scss';

:host {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
}

.main,
.header,
.footer {
   padding: 4rem 18rem;
}

.main {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 4rem 18rem 0 18rem;
}

.footer {
   background: $color-white;
   color: $color-black;
}
