@import '_variables.scss';

:host {
   display: grid;
   grid-template-columns:
      [full-start] 1fr repeat(
         10,
         [col-start] minmax(min-content, 10rem) [col-end]
      )
      1fr [full-end];
   grid-template-rows: 7rem max-content min-content min-content;
   grid-row-gap: 5rem;

   &::before {
      content: '';
      background-color: #fff;
      grid-row: 4 / 5;
      grid-column: col-start 10 / full-end;
   }
   &::after {
      content: '';
      background-color: #fff;
      grid-row: 4 / 5;
      grid-column: full-start / col-start 1;
   }
}

.header {
   grid-column: col-start 1 / col-end 10;
   grid-row: 1 / 2;
   align-self: center;
}

.main {
   grid-column: col-start 1 / col-end 10;
   grid-row: 2 / 3;
}

.nav {
   grid-column: col-start 1 / col-end 10;
   grid-row: 3 / 4;
}

.footer {
   padding: 4rem 0;
   background: $color-white;
   color: $color-black;
   display: block;

   grid-column: col-start 1 / col-end 10;
   grid-row: 4 / 5;
}
