<section class="orders-search">
   <header class="orders-search__header">
      <h2 class="orders-search__title">Поиск</h2>
      <button
         mat-icon-button
         color="warn"
         (click)="onNoClick()"
         class="button-icon"
      >
         <mat-icon>close</mat-icon>
      </button>
   </header>
   <mat-divider></mat-divider>

   <form [formGroup]="form" class="form">
      <div class="row">
         <mat-form-field class="form-group">
            <mat-label>Статус</mat-label>
            <mat-select formControlName="status">
               <mat-option></mat-option>
               <mat-option *ngFor="let status of statuses" [value]="status">{{
                  status | status
               }}</mat-option>
            </mat-select>
         </mat-form-field>

         <mat-form-field class="form-group">
            <mat-label>Поиск по id</mat-label>
            <input matInput formControlName="id" />
         </mat-form-field>
      </div>

      <div class="actions">
         <button
            mat-raised-button
            color="accent"
            [mat-dialog-close]="form.value"
         >
            Сохранить
         </button>
         <button mat-raised-button type="button">Очистить</button>
      </div>
   </form>
</section>
