.orders-search__header,
.actions,
.row {
   display: flex;
   justify-content: space-between;
}

.button-icon {
   transform: scale(0.8);
}

.form {
   margin-top: 2rem;
}

.form-group {
   width: 47.5%;
}
