<section class="orders-search">
   <header class="orders-search__header">
      <h2 class="orders-search__title">Поиск</h2>
      <button
         mat-icon-button
         color="warn"
         (click)="onNoClick()"
         class="button-icon"
      >
         <mat-icon>close</mat-icon>
      </button>
   </header>
   <mat-divider></mat-divider>

   <form [formGroup]="form" class="form">
      <div class="row">
         <mat-form-field class="form-group">
            <mat-label>Статус</mat-label>
            <mat-select formControlName="status">
               <mat-option></mat-option>
               <mat-option *ngFor="let status of statuses" [value]="status">{{
                  status | status
               }}</mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <div class="row">
         <mat-form-field class="form-group">
            <mat-label>Поиск по id</mat-label>
            <input matInput formControlName="id" />
         </mat-form-field>

         <mat-form-field class="form-group">
            <mat-label>Поиск по номеру</mat-label>
            <input matInput formControlName="number" />
         </mat-form-field>
      </div>

      <div class="row">
         <mat-form-field class="form-group">
            <mat-label>Отдаваемая валюта</mat-label>
            <mat-select
               (selectionChange)="onSelection($event.value, 'givenCurrency')"
               appearance="fill"
               #givenSelection
            >
               <mat-option
                  *ngFor="let currency of currencies$ | async"
                  [value]="currency"
                  [disabled]="currency.name === form.get('takenCurrency').value"
                  >{{ currency.name }}</mat-option
               >
            </mat-select>
         </mat-form-field>

         <mat-form-field class="form-group">
            <mat-label>Получаемая валюта</mat-label>
            <mat-select
               (selectionChange)="onSelection($event.value, 'takenCurrency')"
               appearance="fill"
               #takenSelection
            >
               <mat-option
                  *ngFor="let currency of currencies$ | async"
                  [value]="currency"
                  [disabled]="currency.name === form.get('givenCurrency').value"
                  >{{ currency.name }}</mat-option
               >
            </mat-select>
         </mat-form-field>
      </div>

      <div class="actions">
         <button
            mat-raised-button
            color="accent"
            [mat-dialog-close]="form.value"
         >
            Сохранить
         </button>
         <button
            mat-raised-button
            type="button"
            (click)="
               onFormClear();
               givenSelection.value = '';
               takenSelection.value = ''
            "
         >
            Очистить
         </button>
      </div>
   </form>
</section>
