/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '_variables.scss';

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

html,
body {
   height: 100%;
}
body {
   font-family: Roboto, 'Helvetica Neue', sans-serif;
   box-sizing: border-box;
}

.no-margin {
   margin: 0 !important;
}

.title {
   font-size: 3rem !important;
}
