.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   & > * {
      margin: 0;
   }

   &__siteName {
      text-transform: uppercase;
      cursor: pointer;
   }

   &__icon {
      margin-right: 1rem;
   }
}
