<section class="section-order">
   <div class="row">
      <h2>Номер</h2>
      <span class="text">{{ (order$ | async).number }}</span>
   </div>
   <div class="row">
      <h2>Дата создания</h2>
      <span class="text">{{
         (order$ | async).date | date: 'd/M/yyyy, h:mm'
      }}</span>
   </div>
   <div class="row">
      <h2>Статус</h2>
      <span class="text">{{ (order$ | async).status | status }}</span>
   </div>
   <div class="row">
      <h2>Курс обмена</h2>
      <span class="text text--currency">
         {{
            (order$ | async).takenCurrencyAmount /
               (order$ | async).givenCurrencyAmount
         }}
         <mat-icon class="icon">arrow_right_alt</mat-icon>
         1
      </span>
   </div>
   <div class="currency">
      <app-currency-img
         [icon]="(order$ | async).givenCurrency.icon"
         [alt]="(order$ | async).givenCurrency.stringId"
      ></app-currency-img>
      <h2 class="currency__title">{{ (order$ | async).givenCurrency.name }}</h2>
   </div>
   <div class="row">
      <h2>Отдает</h2>
      <span class="text text--currency">
         {{ (order$ | async).givenCurrencyAmount }}
         {{ (order$ | async).givenCurrency.currencyCode }}
      </span>
   </div>
   <div class="row">
      <h2>Номер кошелька</h2>
      <span class="text text--currency">
         {{ (order$ | async).givenCurrencyCard }}
      </span>
   </div>
   <div class="currency">
      <app-currency-img
         [icon]="(order$ | async).takenCurrency.icon"
         [alt]="(order$ | async).takenCurrency.stringId"
      ></app-currency-img>
      <h2 class="currency__title">{{ (order$ | async).takenCurrency.name }}</h2>
   </div>
   <div class="row">
      <h2>Получает</h2>
      <span class="text text--currency">
         {{ (order$ | async).takenCurrencyAmount }}
         {{ (order$ | async).takenCurrency.currencyCode }}
      </span>
   </div>
   <div class="row">
      <h2>Номер кошелька</h2>
      <span class="text text--currency">
         {{ (order$ | async).takenCurrencyCard }}
      </span>
   </div>

   <div class="personal">
      <h2 class="currency__title">Персональные данные</h2>
   </div>

   <div class="row">
      <h2>Электронная почта</h2>
      <span class="text text--currency">
         {{ (order$ | async).email }}
      </span>
   </div>

   <div class="actions">
      <button mat-raised-button color="accent" (click)="openDialog()">
         Изменить статус
      </button>
      <button
         mat-raised-button
         color="warn"
         (click)="onDelete()"
         class="margin-left"
      >
         Удалить
      </button>
   </div>
</section>
